@tailwind base;
@tailwind components;
@tailwind utilities;

.backg-veige {
    background-color: #e92727;
}

.ml-200 {
    margin-left: 200px;
}

.bgd-veige {
    background-color: #f5f5dc;
}

.bgd-blue {
    background-color: #318ce7;
}

.cl-blue-cp {
    color: #318ce7;
}

.tx-gigantic {
    font-size: 80px;
    text-align: center;
}
